// Pins for crc8_v3 DUT: clk, rst, data, crc[7:0]
IO_LOC "crc[7]" J14;
IO_PORT "crc[7]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "crc[6]" M15;
IO_PORT "crc[6]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "crc[5]" M14;
IO_PORT "crc[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "crc[4]" T12;
IO_PORT "crc[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "crc[3]" P11;
IO_PORT "crc[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "crc[2]" T11;
IO_PORT "crc[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "crc[1]" T9;
IO_PORT "crc[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "crc[0]" P9;
IO_PORT "crc[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;

IO_LOC "data" D10;
IO_PORT "data" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "clk" H11;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "rst" A11;
IO_PORT "rst" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;

